---
 const personalImageAlt = "Rodolfo Andino"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-400 [&>p>strong]:font-normal [&>p>strong]:font-bold text-pretty order-2 md:order-1"
  >
    <p>
      My name is Rodolfo Andino, and I am passionate about technology and community development. From a young age, I've been involved in social projects aimed at creating positive impact in my home country, Nicaragua. My focus is on improving people's lives through technology and social inclusion.
    </p>

    <p>
      I've contributed to initiatives such as <strong
        >the Innovation Challenge, supporting rural entrepreneurs</strong
      >, and <strong>Mi Futuro, a program guiding young people toward higher education</strong>. These experiences have allowed me to connect with diverse communities and help foster the professional and personal growth of youth.
    </p>

    <p>
      As a professional in <strong
        >software engineering and a advocate for tech development</strong
      >, I enjoy solving complex problems and creating innovative solutions that have real-world impact. My goal is to continue combining my passion for technology with community work, driving sustainable change.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover object-left  w-64 h-full p-1 md:order-2  lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " >

</article>
