---
const personalImageAlt = "Rodolfo Andino";
---

<article
  class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-blue-400 [&>p>strong]:font-normal [&>p>strong]:font-bold text-pretty order-2 md:order-1"
  >
    <p>
      My name is <strong>Rodolfo Andino</strong>, and I am passionate about
      leveraging technology for community development. From a young age, I have
      engaged in social projects that create positive change in my home country,
      Nicaragua, focusing on improving lives through technology and social
      inclusion.
    </p>

    <p>
      I have contributed to initiatives like <strong
        >Innovation Challenge
      </strong>, supporting rural entrepreneurs, and <strong>Mi Futuro</strong>,
      guiding young people toward higher education. These experiences have
      deepened my connections with diverse communities and fostered the growth
      of youth.
    </p>

    <p>
      As a <strong>software engineer</strong>, I thrive on solving complex
      problems and creating innovative solutions with real-world impact. My goal
      is to continue merging my passion for technology with community
      engagement, driving sustainable change that uplifts individuals and
      communities.
    </p>
  </div>

  <img
    width="200"
    height="200"
    src="/me.webp"
    alt={personalImageAlt}
    class="order-1 object-cover object-left w-64 h-full p-1 md:order-2 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
  />
</article>
