---
import ExperienceItem from "./ExperienceItem.astro";

interface Props {
  EXPERIENCE: {
    date: string;
    title: string;
    company: string;
    description: string;
    excerpt: string;
    link: string;
  }[];
}
const { EXPERIENCE } = Astro.props;
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
