---
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import LanguageToggle from "./LanguageToggle.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

---

<header
  class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
  <nav
    class="flex px-3 text-sm font-medium rounded-full text-gray-200 justify-center items-center"
  >
    {
      (
        <a
          class="relative block px-2 py-2 transition hover:text-blue-500 "
          aria-label="Home"
          href={`/${lang}/`}
        >
          {t(`nav.home`)}
        </a>
        <a
          class="relative block px-2 py-2 transition hover:text-blue-500 "
          aria-label="Home"
          href={`/${lang}/home`}
        >
          {t(`nav.about`)}
        </a>
        <a
          class="relative block px-2 py-2 transition hover:text-blue-500 "
          aria-label="Home"
          href={`/${lang}/blog`}
        >
          {t(`nav.blog`)}
        </a>
      )
    }
    <LanguageToggle />
  </nav>
</header>



<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  nav {
    @apply bg-gray-800/90 ;
  }

  @keyframes nav-shadown {
    0% {
      @apply bg-gray-800/0;
    }
    to {
      @apply shadow-lg ring-1 backdrop-blur ring-white/10;
    }
  }
</style>
