---
const personalImageAlt = "Rodolfo Andino";
import Badge from "@/components/Badge.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/rodolfo.webp"
      alt={personalImageAlt}
    />
    <a
      href="https://www.linkedin.com/in/rodolfoandino/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Available for work</Badge>
    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight sm:text-5xl text-white">
    Hey, I'm Rodolfo
  </h1>
  <p class="mt-3 text-xl [&>strong]:text-blue-300 [&>strong]:font-semibold">
    <strong>Software Engineer and Content Creator</strong>
  </p>
  <p
    class="mt-3 text-xl [&>strong]:text-blue-300 [&>strong]:font-semibold text-gray-300"
  >
    4+ years of experience in Front-end web dev, automation & docs. Global
    Shaper. Driving community-led tech projects from Nicaragua 🇳🇮 Passionate
    about using tech for positive change.
  </p>

  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://linkedin.com/in/rodolfoandino">
      <LinkedInIcon class="size-4" />
      Contact me
    </SocialPill>
  </nav>
</div>
